.main-navigation_location-list {
  display: none;
}

.main-navigation_menu-button > svg {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .main-navigation_location-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-navigation_menu-button {
    display: none;
  }
}
