.side-drawer {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 80%;
  max-width: 500px;

  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  -webkit-box-shadow: 9px 0px 15px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 9px 0px 15px 0px rgba(0, 0, 0, 0.27);

  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  z-index: 100;
}

.side-drawer_header {
  display: flex;
  background-color: rgb(230, 230, 230);
  height: auto;
  background-image: url("../res/layered-peaks-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1.8em;
}

.side-drawer_header-profile-photo > img {
  width: auto;
  height: 100px;
  border-radius: 50%;
}

.side-drawer_header-profile-photo {
  padding: 1.5em 0 1em 0;
  width: auto;
  height: 100%;
}

.side-drawer_nav {
  box-sizing: border-box;
  margin-bottom: auto;
  height: auto;
  overflow: auto;
  padding: 0.6em;
}

.side-drawer_footer {
  background-color: rgb(230, 230, 230);
  box-sizing: border-box;
  height: 15vh;
  padding: 1em;
}

.side-drawer_header-info-container {
  padding-bottom: 1.5em;
}

.side-drawer_separator {
  margin: 0 auto;
  width: 90%;
  color: rgb(179, 179, 179);
}

.side-drawer_header-secondary {
  color: rgb(102, 102, 102);
  font-size: 0.9em;
}

.expand-right-enter {
  transform: translateX(-100%);
}

.expand-right-enter-active {
  transform: translateX(0);
  transition: all 225ms;
  opacity: 1;
}

.expand-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.expand-right-exit-active {
  transform: translateX(-100%);
  transition: all 225ms;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .side-drawer {
    display: none;
    width: 0;
  }
}