.auction_publish-alert {
  margin: 0.5em 0;
}

.auction_publish-alert_icon {
  position: relative;
  margin: 0 1em;
  top: 50%;
}

.auction_button {
  margin: 0.5em 0;
}

.auction_your-bid_container {
  width: auto;
}

.auction-bid_lock_icon {
  margin: 0 1em 0 0;
}

.auction_bid_button_container > button {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .auction_your-bid_container {
    width: 25vw;
  }
}
