.mobile-nav-item {
  padding: 0.25em 0;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  width: auto;
  user-select: none;
}

.mobile-nav-item.selected,
.mobile-nav-item:active {
  cursor: default;
  padding-left: 3%;
  margin-left: -3%;
  color: rgb(73, 92, 126);
  border-color: rgb(195, 204, 221);
  background-color: rgb(195, 204, 221);
}
