@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #ebebeb;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary[aria-disabled="true"] {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  pointer-events: none;
  opacity: .65;
}

.btn-light[aria-disabled="true"] {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  pointer-events: none;
  opacity: .65;
}