.desktop-nav-item {
  height: 100%;
  padding: 0 1em;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.desktop-nav-item > .nav-item_content {
  font-size: medium;
}

.desktop-nav-item_container {
  padding: 0;
  height: 100%;
}

.desktop-nav-item.selected {
  height: 100%;
  cursor: default;
  color: rgb(73, 73, 73);
  box-shadow: inset 0 0 10px 1px rgba(58, 58, 58, 0.2);
}
